<%- include('header.ejs'); -%>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://bootswatch.com/4/journal/bootstrap.min.css"
/>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= pageHolder[0].name %></p>
<a href="/logout" class="btn btn-secondary">Logout</a>


<%- include('footer.ejs'); -%>