table{
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
  }
  table td,table th{
    border: 1px solid #333;
    text-align: left;
    
  }
  table td {
    font-size: 1.2rem;
  }
  table thead {
    font-size:2rem;
  }
  h2 a{
      text-decoration: none;
      color: #000;
  }
  #edit{
      margin: 2.5rem;
  }